.git
.gitignore
.idea
.vscode
.fleet
node_modules
vendor
storage/logs
storage/node_modules
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/node_modules
.env
.env.*
!.env.example
public/hot
public/storage
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
docker-compose*.yml
Dockerfile
README.md
